# =============================================================================
# GymOps - Configuración de Variables de Entorno
# =============================================================================

# Base de datos PostgreSQL (Servicio db)
POSTGRES_USER=gymops
POSTGRES_PASSWORD=gymops_pass
POSTGRES_DB=gymops_db
POSTGRES_PORT=5432

# Conexión CLI de GymOps (Servicio app)
GYMOPS_DB_HOST=db
GYMOPS_DB_PORT=5432
GYMOPS_DB_USER=gymops
GYMOPS_DB_PASSWORD=gymops_pass
GYMOPS_DB_NAME=gymops_db
